<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>
  <body>
  <%- include('../../layout/header') %>
    <main>


            <h2 style="text-align: left;padding-left: 10%;font-size: xx-large;">Book Details</h2>
      
            <section class="detail-sec">  
               <section class="detail-info">
                <img src="<%= results[0].image_url %>"> 
                <h4>
                  Book Name: <%= results[0].title %>
                </h4>
                <ul style="list-style: none; ">
                  <li >Auther Name: <%= results[0].authors%></li>
                  <li style="background-color: whitesmoke;;"><%= results[0].description %></li>
                  <li>ISBN: <%= results[0].isbn %></li>
                  <li>Book Shelf: <%= results[0].id %></li>
                </ul>
               </section>
               <section  class="detail-butt">
                 <button id="ubdatButt" onclick="updatButt()" >Update Book</button>
                    <form id="delet-form" action="/books/<%=results[0].id%>?_methodOverrid=DELETE" method="POST">
                      <input type="hidden" value="<%= results[0].id%>">
                      <input id="delet-but" type="submit" value="DELETE">
                    </form>
               </section>

              </section>
      
      

          <%- include('edit') %>
    </main>

    <%- include('../../layout/footer') %>
    <script src="../js/app.js"></script>
</body>
</html>