<!-- <!DOCTYPE html>
<html lang="en">


<body>
    <main>
        <section id="updat-sec" style="display: none;">
            <form id="updat-form" action="/books/<%=results[0].id%>?_methodOverrid=PUT" method="POST">
                
                  <h2>Updat Your Book</h2>
                  Title: 
                  <input type="text" name="title" value="<%= results[0].title %>">
                  Auther:
                  <input type="text" name="authors" value="<%= results[0].authors%>">
                  ISBN:
                  <input type="text" name="isbn" value="<%= results[0].isbn %>">
                 image_url
                 <input type="text" name="image_url" value="<%= results[0].image_url %>">
                  Description
                 <br>
                 <textarea cols="40" rows="15" name="description">
                   <%= results[0].description %>
                 </textarea>
                 <br>              
               
                <input id="submitButt" type="submit" value="submit">
               </form>
          </section>
    </main>
</body>
</html> -->