<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../../layout/head.ejs') %>
</head>
<body>
  <%- include('../../layout/header') %>
  <main>
    <section class="main-sec">
      <% searchResults.forEach(book=> {%>
      <section class="book-sec">
      <img src="<%= book.thumbnail %>" alt="">
      <h3><%= book.title %></h3>
      <h4><%= book.authors%></h4>
      <p><%= book.description%></p>


      <form id="show-form" action="/books" method="POST">
        <input type="hidden" value="<%= book.thumbnail %>" name="image_url">
        <input type="hidden" value="<%= book.title %>" name="title">
        <input type="hidden" value="<%= book.authors%>" name="authors">
        <input type="hidden" value="<%= book.description%>" name="description">
        <input type="hidden" value="<%= book.isbn%>" name="isbn">
        <input id="add-butt" type="submit" value="Add to Collection">
      </form>
  </section>
  <% }) %>
  
    </section>
   

  </main>
  <%- include('../../layout/footer') %>

</body>

</html>