<!DOCTYPE html>
<html lang="en">



  <%- include('../layout/head') %>
  <body>
  <%- include('../layout/header') %>
    <main>
      <% if (result.length) { %>
        <h2 style="text-align: center;">Numbers Of Books <%=result.length%></h2>
        <section class="index-main"> 
        <% result.forEach(data=> { %>
          <section class="index-sec"> 
           
                  <img src="<%= data.image_url %>"> 
                  <h4>
                    <%= data.authors %>
                  </h4>
                  <p>
                    <%= data.title %>
                  </p>
                  <a href='/books/<%= data.id %>' target="_blank">View Book details</a>
                  </section>
             
                <% }); %>
                  <% } else { %>
                    <p style="text-align: center;font-size: x-large; color: #053536;">No Books in Your Collection</p>
                    <% } %>
    </main>
    <%- include('../layout/footer') %>
</body>
</html>