<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
  <body>
  <%- include('../layout/header') %>
    <main>
        <h2>Numbers Of Books <%=result.length%></h2>
        <ul>
            <% if (result.length) { %>
              <% result.forEach(data=> { %>
                <li>
                  <img src="<%= data.image_url %>"> 
                  <h4>
                    <%= data.auther %>
                  </h4>
                  <p>
                    <%= data.title %>
                  </p>
                  <a href='/books/<%= data.id %>' target="_blank" rel="link">View Book details</a>
                </li>
                <% }); %>
                  <% } else { %>
                    <p>No data was found</p>
                    <% } %>
          </ul>
    </main>
    <%- include('../layout/footer') %>
</body>
</html>